.hero {
    // width: 480px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    @media screen and (mini-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2pdx)
    {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-480-2x.jpg);
        }
   
    @media screen and (min-width: 768px) {
        // width: 768px;
        max-width: 100%;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-768.jpg);
        @media screen and (mini-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2pdx) {
              background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-768-2x.jpg);
        } 
    }
    @media screen and (min-width: 1200px) {
        // width: 1600px;
        max-width: 100%;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-1600.jpg);
        @media screen and (mini-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2pdx) {
              background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-1600-2x.jpg);
        }
    }
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 26px;
    @media screen and (min-width: 1200px) {
    font-size: 44px;
    }
    line-height: 1.61;
    @media screen and (min-width: 1200px) {
        line-height: 1.36;
    }
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}